#Database
DATABASE_URL="postgresql://postgres.xxxxx:YOUR_PASSWORD@aws-xxxxx.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:YOUR_PASSWORD@db.xxxxx.supabase.co:5432/postgres"

#JWT SECRET
JWT_SECRET="change-this-secret"